# Packer
packer_cache/
*.iso
# Tofu/Terraform
.terraform
*.tfstate.*
.terraform.lock.hcl
# Packer
packer_cache/
# Symlinks
/main.tf
/*.tfvars
/*.tmpl

# Transformed user-data
/templates/*/http/user-data
