#cloud-config
autoinstall:
  version: 1
  locale: en_US
  keyboard:
    layout: us
  storage:
    layout:
      name: lvm
  identity:
    hostname: ubuntu
    username: instance-user
    password: "${instance_password}"
  ssh:
    install-server: true
    allow-pw: false
    disable_root: true
    authorized-keys:
    - ${instance_ssh_pubkey}
  packages:
    - qemu-guest-agent
  user-data:
    package_upgrade: false
    timezone: America/New_York
  late-commands:
    - 'sed -i "s/dhcp4: true/&\n      dhcp-identifier: mac/" /target/etc/netplan/00-installer-config.yaml'
    - echo 'instance-user ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/instance-user